.container {
  height: 100%;
}

.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
}

.sidenav-inner-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidenav-body-content {
  display: flex;
  flex: 1 1 auto;
}

.viewer-nav {
  position: sticky;
  top: 0;
}

.viewer-nav-content {
  width: 240px;
  height: 100vh;
  overflow: auto;
}

.viewer-nav .viewer-nav-content::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.viewer-nav-content::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.26);
}
