<div class="back-action">
  <a [routerLink]="['/activity']"><< 回到活動清單</a>
</div>
<div class="container">
  <h1 style="font-weight: bold;">{{ activityName }}</h1>
  <ng-container *ngIf="(orders$ | async).length > 0; else elseTemplate">
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let order of orders$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ order.buyer.name }}
          </mat-panel-title>
          <mat-panel-description>
            <!-- <div class="badage" [ngClass]="{ warning: !order.isPaid }">
              {{ order.isPaid ? "已付款" : "尚未付款" }}
            </div> -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="order-content">
          <table mat-table [dataSource]="order.items" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>名稱</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              <td mat-footer-cell *matFooterCellDef>合計</td>
            </ng-container>

            <ng-container matColumnDef="unitPrice">
              <th mat-header-cell *matHeaderCellDef>單價</th>
              <td mat-cell *matCellDef="let element">
                {{ element.unitPrice | currency }}
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="count">
              <th mat-header-cell *matHeaderCellDef>數量</th>
              <td mat-cell *matCellDef="let element">
                {{ element.count }}
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>金額</th>
              <td mat-cell *matCellDef="let element">
                {{ element.unitPrice * element.count | currency }}
              </td>
              <td mat-footer-cell *matFooterCellDef>
                {{ order.totalPrice | currency }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="['name', 'unitPrice', 'count', 'price']"
            ></tr>
            <tr
              mat-row
              *matRowDef="
                let row;
                columns: ['name', 'unitPrice', 'count', 'price']
              "
            ></tr>
            <tr
              mat-footer-row
              *matFooterRowDef="
                ['name', 'unitPrice', 'count', 'price'];
                sticky: true
              "
            ></tr>
          </table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="all-total-price">
      總金額 : {{ allTotalPrice$ | async | currency }}
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="all-total-price">尚未有任何訂購者</div>
  </ng-template>
</div>

<!-- {{ orders$ | async | json }} -->
