<div class="container">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="規劃中"
      ><app-activity-list
        [activities]="planningActs$ | async"
      ></app-activity-list
    ></mat-tab>
    <mat-tab label="進行中"
      ><app-activity-list
        [activities]="inProgressActs$ | async"
      ></app-activity-list
    ></mat-tab>
    <mat-tab label="已結束"
      ><app-activity-list
        [activities]="finishedActs$ | async"
      ></app-activity-list
    ></mat-tab>
  </mat-tab-group>
</div>
